In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# import the models
from sklearn.linear_model import LogisticRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

## CREATTING X AND Y VARIABLES

In [5]:
df=pd.read_csv('stud.csv')
df.head(3)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [9]:
from sklearn.model_selection import train_test_split
x=df.drop('math_score',axis=1)
y=df['math_score']

In [12]:
numerica_features=[feature for feature in x.columns if x[feature].dtype!='O']
categorical_features=[feature for feature in x.columns if x[feature].dtype=='O']

In [15]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_tranformer=StandardScaler()
categorical_tranformer=OneHotEncoder()

processor=ColumnTransformer(
    [
        ("Onehotencoder",categorical_tranformer,categorical_features),
        ("StandardScaler",numeric_tranformer,numerica_features)
    ]
)

In [16]:
x=processor.fit_transform(x)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)